doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/styles.css" rel="stylesheet")
        block nestHead
        title #{title}
    body()
        nav.bg-gray-200.fixed.top-0.left-0.w-full
            div(class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8")
                .flex.h-16.items-center.justify-between
                    .flex.items-center
                        a(href="/" class="text-black text-xl font-bold") Home
                    div(class="hidden md:flex space-x-4")
                        a(href="/" class="text-gray-800 hover:text-black px-3 py-2 rounded-md text-sm font-medium") Products
                        a(href="#" class="text-gray-800 hover:text-black px-3 py-2 rounded-md text-sm font-medium") Buy history
                        a(href="/profile" class="text-gray-800 hover:text-black px-3 py-2 rounded-md text-sm font-medium") Profile
                    .flex.items-center.space-x-4
                        .relative
                        a(href="/logout")
                            button(id="dropdown-btn" class="flex items-center text-sm bg-gray-500 text-white px-4 py-2 rounded-md focus:outline-none") Logout
                    div(class="md:hidden flex items-center")
                        button(id="mobile-menu-btn" class="text-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-gray-500")
                            svg.h-6.w-6(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor")
                                path(stroke-linecap="round", stro ke-linejoin="round", stroke-width="2", d="M4 6h16M4 12h16M4 18h16")
                div(id="mobile-menu" class="md:hidden" style="display: none;")
                    .space-y-1.px-2.pt-2.pb-3
                        a(href="/", class="text-gray-800 hover:text-black block px-3 py-2 rounded-md text-base font-medium") Products
                        a(href="#", class="text-gray-800 hover:text-black block px-3 py-2 rounded-md text-base font-medium") Buy history
                        a(href="/profile", class="text-gray-800 hover:text-black block px-3 py-2 rounded-md text-base font-medium") Profile
        main(class="bg-slate-300 flex items-center justify-center min-h-screen mt-8 pb-10")
            block content

        footer.bg-gray-800.text-white.py-6
            .container.mx-auto.px-4
                .flex.flex-wrap.justify-between.items-center
                    // Left Section
                    div(class="w-full md:w-auto text-center md:text-left")
                        p.text-sm © 2024 Magazine Matheus. All rights reserved.
                    // Right Section
                    div(class="w-full.md:w-auto.mt-4.md:mt-0.text-center")
                        ul.flex.space-x-4
                            li
                                a(href="https://facebook.com" target="_blank" class="text-sm hover:underline") Facebook
                            li
                                a(href="https://twitter.com" target="_blank" class="text-sm hover:underline") Twitter
                            li
                                a(href="https://linkedin.com" target="_blank" class="text-sm hover:underline") LinkedIn
                            li
                                a(href="/admin/" target="_blank" class="text-sm hover:underline")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                                        <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"/>
                                    </svg>

    script.
        document.getElementById('mobile-menu-btn').addEventListener('click', () => {
            const mobileMenu = document.getElementById('mobile-menu');
            mobileMenu.style.display = mobileMenu.style.display === 'none' ? 'block' : 'none';
        });
    block nestedJS