doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/styles.css" rel="stylesheet")
        title #{title}
    body(class="bg-gray-100 flex items-center justify-center min-h-screen")
        .w-full.max-w-md.bg-white.shadow-md.rounded-lg.p-6
            h1.text-2xl.font-bold.text-gray-800.mb-4.text-center Register
            form(action="/register" method="POST")
                .mb-4
                label.block.text-sm.font-medium.text-gray-700(for="username") Username
                input#username(name="username" type="text" required placeholder="Enter your username" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500")
                .mb-4
                label.block.text-sm.font-medium.text-gray-700(for="email") Email
                input#email(name="email" type="email" required placeholder="Enter your email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500")
                .mb-4
                label.block.text-sm.font-medium.text-gray-700(for="password") Password
                input#password(name="pass" type="password" required minlength="8" placeholder="Enter your password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500")
                .mt-6
                button(type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 mb-4") Register
                a(href="/login") 
                    button(type="button" class="w-full bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50") Return to Login